.App {
  display: flex;
  flex-direction: column;
  justify-self: center;
  flex-basis: 50%;
}

h1 {
  align-self: center;
  font-size: 44px;
  letter-spacing: 1px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  color: white;
  text-shadow: 
      -2px -2px 1px black,
      2px -2px 1px black,
      -2px 2px 1px black,
      2px 2px 1px black;
  letter-spacing: 1px;
}